body{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    
}
.contener1{
    display: flex;
    padding: 10px;
    width: 800px;
    background-color: antiquewhite;
    border-radius: 10px;

    
}
.separation1 {
    padding: 30px;
    margin-bottom: 10px;
    background-color: rgb(1, 1, 22);
    color: white ;
    width: 40%;
    line-height: 50px ;
   
}
.separation1 h4 ,.separation1 h6{
    text-align: center;
}

.img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin:0 auto 20px;
    border: 3px solid rgb(240, 231, 238);
    background-position: center;
    background-size: cover;
}
.ip h3{

    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 2px solid rgb(177, 170, 227);
    border-left: 5px rgb(8, 5, 5);
    
}
.ip p{
    line-height: 25px;
    padding-left: 5px;
    font-size: 14px;
}
.icon{
    line-height: 35px;
    padding-left: 5px;
    font-size: 14px;

}
/*.Qualite{
   
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    width: 150px;
}
.langue{
   
    border-radius: 30px;
    padding: 5px;
    margin: 5px 0;
    
}*/
.separation2{
    padding-left: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    line-height: 30px;
    width: 60%;
   
}

.right-column h3{
   margin-bottom: 10px;
   text-transform: uppercase;
   padding-left: 5px;
   margin-bottom: 20px;
    font-size: 15px;
    border-bottom: 2px solid rgb(73, 73, 83);
    border-left: 5px black;
   
}
.right-column p{
    line-height: 30px;
    padding-left: 5px;
    font-size: 15px;
}
.right-column{
    font-size: 15px;
}



